* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.modal-sign-container {
  background: radial-gradient(
    189.32% 190.93% at 59.76% -23.42%,
    rgb(79, 46, 232) 18.02733987569809%,
    rgb(255, 255, 255) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

.modal {
  display: none;
  background-color: #f6f6f6;
  padding: 20px;
  text-align: center;
  border: 2px solid #000;
  border-radius: 18px;
  width: 579px;
  height: 516px;
  padding: 80px 40px;
  position: relative;
}

.closeModalBtn {
  position: absolute;
  top: 24px;
  right: 24px;
}

.sign-input {
  width: 100%;
  border: 2px solid #000;
  border-radius: 40px;
  padding: 20px 173px 20px 40px;
  height: 64px;
  outline-color: #4f2ee8;
  margin-bottom: 28px;
}

.sign-input::placeholder {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  line-height: 1.33333;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #000;
}

.input-container {
  position: relative;
  height: 64px;
  margin-bottom: 28px;
}

.input-svg {
  position: absolute;
  top: 50%;
  right: 21px;
  transform: translateY(-50%);
  height: auto;
}

.sign-up-form,
.sign-in-form {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.sign-up-form:last-child,
.sign-in-form:last-child {
  margin-bottom: 40px;
}

.signUpBtn,
.signInBtn {
  width: 100%;
  border-radius: 40px;
  padding: 20px 173px;
  background-color: #000;
  border: none;
  color: #fff;
  cursor: pointer;
  height: 64px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  line-height: 1.33333;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}

.active {
  color: #4f2ee8;
  text-decoration: underline;
}

.signUpBtn:hover,
.signInBtn:hover {
  background-color: #4f2ee8;
}

.signupOptions {
  text-align: center;
  margin-top: 20px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  color: rgba(17, 17, 17, 0.5);
}

.signInOption,
.signUpOption {
  margin-top: 12px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  line-height: 1.33333;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
}

.loged-user-interface {
  position: relative;
  display: none;
}

.signed-user {
  padding: 4px 12px;
  border: none;
  border-radius: 36px;
}

.logout-btn {
  width: 184px;
  height: 48px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  line-height: 1.28571;
  letter-spacing: -0.04em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 18px;
  align-items: center;
  border: 1.5px solid var(--black);
  padding: 14px;
  background-color: var(--white);
  display: none;
  position: absolute;
  top: 0;
  left: 0;

}

